<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Confirm authorization</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="/static/css/global.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="block">

    <div class="content-box">
        <img src="/static/img/app-icon.png" class="img-circle img-responsive ava center-block app-icon" alt="icon">

        <div class="top" th:switch="${session.authorizationRequest.clientId}">
            <div th:case="'c1'" class="operation-information">
                Link your Yoti smart account with Google account
            </div>
            <div th:case="'c2'" class="operation-information">
                Link your Yoti smart account with Amazon account
            </div>
            <div th:case="'*'" class="operation-information" th:text="Link your Yoti smart account with ${session.authorizationRequest.clientId} account">
            </div>
        </div>


        <form role="form" action="/oauth/authorize" method='post'>
            <div class="form-group">
                <div class="context-text">
                    <div> After authorization, the app will get the following permissions:</div>
                    <ul>
                        <li>Device control authority</li>
                        <li>account information</li>
                    </ul>
                </div>
                <input name='user_oauth_approval' value='true' type='hidden'/>
                <input name="client_id" th:value="${session.authorizationRequest.clientId}" type="hidden"/>
                <input th:name="${s}" value="true" type="hidden" th:each="s : ${scopeList}"/>

                <button class="btn btn-primary btn-block form-item" type="submit"> Confirm authorization</button>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    let language = navigator.language;
    console.log("浏览器语言2："+language)
</script>
<style>


    .app-icon {
        width: 80px;
        height: 80px;
    }


    .form-item {
        margin: 10px 0;
        height: 50px;
        border-radius: 0;
    }


    .operation-information {
        text-align: center;

        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
    }


    .context-text {
        padding: 20px;
    }
</style>
</html>
