<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" media="screen" rel="stylesheet">
    <link href="/static/css/global.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body id="app">
<div class="container">
    <div class="content-box">
        <div>
            <img src="/static/img/app-icon.png" class="img-circle img-responsive ava center-block app-icon" alt="icon">
        </div>
        <form role="form" action="/login" method="post" onsubmit="return submitCheck()">
            <div class="form-group">
                <h3 class="form-signin-heading">
                    Please sign in
                </h3>
                <!--登录错误提示信息-->
                <input type="text" v-model="username" name="username" class="form-control form-item"
                       placeholder="Please Enter Email" required autofocus>
                <input type="password" v-model="username" name="password" class="form-control form-item"
                       placeholder="Please Enter Password" required>
                <div class="error_tip" th:if="${param.error}">
                    <span v-if="lang==='en'" class="help-block" style="color:red;">
                        Email or Password is Wrong, Please ReEnter
                    </span>

                    <!--                    <span class="has-error" style="color: red">-->
                    <!--                        Email or Password is Wrong, Please ReEnter!-->
                    <!--                    </span>-->
                </div>
            </div>
            <div>
                <button class="btn btn-primary btn-block form-item" type="submit">Link Now</button>
            </div>
        </form>
    </div>
</div>

</body>
<script>
    let language = navigator.language;
    console.log("浏览器语言："+language)
    let submitCount = 0;
    function submitCheck() {
        // let submitButton = document.getElementById("sb-btn");
        if (submitCount === 0) {
            submitCount++;
            return true;
        }
        alert("Processing, please do not submit repeatedly, thank you!");
        return false;
    }
</script>
<style>


    .app-icon {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }


    .form-item {
        margin: 10px 0;
        height: 50px;
        border-radius: 0;
    }


</style>

</html>
