<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecoeler.app.mapper.WebOverviewMapper">

    <select id="selectEcharsData" resultType="com.ecoeler.app.bean.v1.CountOfDateBean">
        SELECT count(id) as count , DATE_FORMAT( t.create_time,'%Y%m%d' ) as date from
        (select id,create_time FROM ${dto.tableName} u
        WHERE DATE_FORMAT( u.create_time, '%Y%m%d' ) &gt;= DATE_FORMAT( #{dto.startDate},'%Y%m%d')
        and  DATE_FORMAT( u.create_time, '%Y%m%d' ) &lt;= DATE_FORMAT( #{dto.endDate},'%Y%m%d')
        ) as t group by DATE_FORMAT( t.create_time, '%Y%m%d' ) ;
    </select>


</mapper>
